name: Auth_Service

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  DOTNET_VERSION: "8.0"
  SOLUTION_PATH: "Middleware_Auth.sln"
  API_PROJECT_PATH: "Middleware_Auth"
  PUBLISH_DIR: "publish"
  #AZURE_WEBAPP_NAME: "Middleware_Auth"

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore
        run: dotnet restore ${{ env.SOLUTION_PATH }}

      - name: Build
        run: dotnet build ${{ env.SOLUTION_PATH }} --configuration Release --no-restore

      - name: Test
        run: dotnet test ${{ env.SOLUTION_PATH }} --configuration Release --no-build

      - name: Publish
        run: dotnet publish ${{ env.API_PROJECT_PATH }} -c Release -o ${{ env.PUBLISH_DIR }}

      - name : Publish Artifacts
        uses : actions/upload-artifact@v4
        with: 
            name: webapp
            path: ${{ env.PUBLISH_DIR }}
  deploy:
    name: Deploy to Azure
    runs-on: ubuntu-latest
    needs: [build-and-test]

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: webapp
        path: ${{ env.PUBLISH_DIR }}

    - name: Deploy
      uses: azure/webapps-deploy@v2
      with: 
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
        package: "${{ env.PUBLISH_DIR }}"

